@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}
@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}

.animate-fadeOut {
  animation: fadeOut 0.3s forwards;
}
